<!DOCTYPE html>
<html>
    <head>
        <title>My CMS!</title>
        {% block head %}
            <link rel="stylesheet" href="master.css">
        {% endblock %}
    </head>
    <body>
        <div>
            {% block content %}
            {% endblock %}
        </div>
</html>
